body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 10px;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  margin: auto;
}

.groups {
  width: 100%;
}

.app {
  width: 100%;
}

.display {
  width: 99%;
  height: 65px;
  background-color: gray;
  font-size: larger;
  font-weight: bold;
  color: white;
  text-align: end;
  padding-top: 35px;
  padding-right: 1%;
}

.otherBtn {
  width: 25%;
  height: 100px;
  font-size: larger;
}

.zeroBtn {
  width: 50%;
  height: 100px;
  font-size: larger;
}
